resources/velomag.xsd

<?xml version="1.0" encoding="utf-8"?>

<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="vcs">

        <xs:complexType>

            <xs:sequence>

                <xs:element name="sl">

                    <xs:complexType>

                        <xs:sequence>

                            <xs:element maxOccurs="unbounded" name="si">

                                <xs:complexType>

                                    <xs:attribute name="na" type="xs:string" use="required" />

                                    <xs:attribute name="id" type="xs:unsignedByte" use="required" />

                                    <xs:attribute name="la" type="xs:decimal" use="required" />

                                    <xs:attribute name="lg" type="xs:decimal" use="required" />

                                    <xs:attribute name="av" type="xs:unsignedByte" use="required" />

                                    <xs:attribute name="fr" type="xs:unsignedByte" use="required" />

                                    <xs:attribute name="to" type="xs:unsignedByte" use="required" />

                                </xs:complexType>

                            </xs:element>

                        </xs:sequence>

                    </xs:complexType>

                </xs:element>

            </xs:sequence>

            <xs:attribute name="ver" type="xs:unsignedByte" use="required" />

        </xs:complexType>

    </xs:element>

</xs:schema>